.p-Home.Link2 a{
    color: #696969;
    text-decoration: none;
    font-weight: 500;
}
.p-Home.Link5 a{
    color: #696969;
    text-decoration: none;
    font-weight: 500;
}
.p-Home.Link6 a{
    color: #696969;
    text-decoration: none;
    font-weight: 500;
}
.p-Home.Link7 a{
    color: #696969;
    text-decoration: none;
    font-weight: 500;
}
.p-Home.Link8 a{
    color: #696969;
    text-decoration: none;
    font-weight: 500;
}
.p-Home.Button3{
    font-weight: 575;
}
.p-Home.TextBox2 {
font-weight: 700;
font-size: 50px;
}
.p-Home.TextBox1 {
    font-weight: 700;
    font-size: 50px;
    }
    .p-Home.TextBox4 {
        font-weight: 700;
        
        }
    .p-Home.TextBox3 {
        font-weight: 500;
        font-size: 18px;
        }
 .p-Home.TextBox7 {
     font-weight: 700;
    
     }
.p-Home.TextBox12 {
         font-weight: 700;
       
         }
.p-Home.TextBox15 {
             font-weight: 700;
             
             }
.p-Home.TextBox18 {
                 font-weight: 700;
                
                 }
                 .p-Home.TextBox6 {
                    font-weight: 700;
                   
                    }
.p-Home.TextBox8{
    font-weight: 500;
}
.p-Home.TextBox9{
    font-weight: 500;
}
.p-Home.TextBox10{
    font-weight: 500;
}
.p-Home.TextBox11{
    font-weight: 500;
}
.p-Home.TextBox13{
    font-weight: 500;
}
.p-Home.TextBox14{
    font-weight: 500;
}
.p-Home.TextBox134{
    font-weight: 700;
}
.p-Home.TextBox16{
    font-weight: 500;
}
.p-Home.TextBox17{
    font-weight: 500;
}
.p-Home.Button7 {
    font-weight: 500;
}
.p-Home.TextBox24{
    font-weight: 700;
}
.p-Home.TextBox23{
    font-weight: 500;
}
.p-Home.TextBox25{
    font-weight: 500;
}
.p-Home.TextBox28{
    font-weight: 700;
}
.p-Home.TextBox43{
    font-weight: 700;
}
.p-Home.TextBox60{
    font-weight: 700;
}
.p-Home.TextBox63{
    font-weight: 700;
}
.p-Home.TextBox66{
    font-weight: 700;
}
.p-Home.TextBox77{
    font-weight: 700;
}
.p-Home.TextBox75{
    font-weight: 700;
}
.p-Home.TextBox73{
    font-weight: 700;
}
.p-Home.TextBox78{
    font-weight: 700;
}
.p-Home.TextBox80{
    font-weight: 700;
}
.p-Home.TextBox83{
    font-weight: 700;
}
.p-Home.TextBox85{
    font-weight: 700;
}
.p-Home.TextBox86{
    font-weight: 500;
}
.p-Home.TextBox87{
    font-weight: 500;
}
.p-Home.TextBox86{
    font-weight: 500;
}
.p-Home.TextBox89{
    font-weight: 700;
}
.p-Home.TextBox92{
    font-weight: 700;
}
.p-Home.TextBox97{
    font-weight: 700;
}
.p-Home.TextBox96{
    font-weight: 700;
}
.p-Home.TextBox100{
    font-weight: bold;
}
.p-Home.TextBox104{
    font-weight: bold;
}
.p-Home.TextBox115{
    font-weight: bold;
}
.p-Home.TextBox133{
    font-weight: bold;
}
.p-Home.TextBox132{
    font-weight: bold;
}
.p-Home.TextBox117{
    font-weight: bold;
}